:root {
	--tab-active-color: rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
	:root {
		--tab-active-color: rgba(255, 255, 255, 0.12);
	}
}

/* Sets tab appearance */
.tab-background {	
	background-image: none !important;
	border-radius: 6px !important;
	outline: none !important;
	box-shadow: none!important;
}

.tab-background[selected],
.tab-background[multiselected] {
	background-color: var(--tab-active-color) !important;
}
#tabbrowser-tabs {
  --tab-loading-fill: #98339F!important;
}

.titlebar-spacer[type="pre-tabs"]{
	width: 20px!important;
}