:root {
	--tab-color: rgba(0, 0, 0, 0.05);
	--tab-hover-color: rgba(0, 0, 0, 0.12);
	--tab-active-color: rgba(0, 0, 0, 0.18);
}

@media (prefers-color-scheme: dark) {
	:root {
		--tab-color: rgba(255, 255, 255, 0.05);
		--tab-hover-color: rgba(255, 255, 255, 0.12);
		--tab-active-color: rgba(255, 255, 255, 0.18);
	}
}

/* Sets tab appearance */
.tab-background {
	background-color: var(--tab-color);
	background-image: none !important;
	border-radius: 6px !important;
	outline: none !important;
	box-shadow: none !important;
}

.tabbrowser-tab:hover:not([selected]):not([multiselected]) .tab-background {
	background-color: var(--tab-hover-color) !important;
}

.tab-background[selected],
.tab-background[multiselected] {
	background-color: var(--tab-active-color) !important;
}

#tabbrowser-tabs {
	--tab-loading-fill: AccentColor !important;
}

.titlebar-spacer[type="pre-tabs"] {
	width: 15px !important;
}

body:has(.tabbrowser-tab):not(:has(#vertical-tabs .tabbrowser-tab)) .tabbrowser-tab {
  padding-inline: 4px !important;
}

#vertical-tabs {
  padding: 0 2px !important;
}

body:has(#vertical-tabs #tabs-newtab-button) #tabs-newtab-button {
  margin-top: 4px !important;
}
