:root {
	--url-border-color: rgba(0, 0, 0, 0.15);
	--url-placeholder-color: rgba(0, 0, 0, 0.5);
	--url-bar-background-color: rgba(255, 255, 255, 0.4);
	--url-bar-outline-color: AccentColor;
}

@media (prefers-color-scheme: dark) {
	:root {
		--url-border-color: rgba(255, 255, 255, 0.15);
		--url-placeholder-color: rgba(255, 255, 255, 0.5);
		--url-bar-background-color: rgba(0, 0, 0, 0.4);
		--url-bar-outline-color: AccentColor;
	}
}

#urlbar-container {
	max-width: 50% !important;
}

#urlbar {
	min-height: 32px !important;
	font-size: 13px !important;
	margin-bottom: 2px !important;
}

#urlbar[open] {
	border-radius: 12px !important;
	box-shadow: 0px 2px 20px rgba(4, 2, 5, 0.2) !important;
	border-radius: var(--border-circle) !important;
}

/* Centers text in urlbar */
#urlbar:not([focused]) #urlbar-input {
	text-align: center !important;
	border-radius: var(--border-circle) !important;
}

/* Urlbar icons look */
.urlbar-page-action {
	height: 24px !important;
	border-radius: 5px !important;
}

.urlbar-page-action image {
	margin-top: -2px !important;
	transform: scale(0.9, 0.9) !important;
}

.identity-box-button {
	border-radius: 4px !important;
}

.identity-box-button image {
	transform: scale(0.9, 0.9) !important;
}

.urlbar-background {
	border-color: var(--url-border-color) !important;
	border-radius: var(--border-circle) !important;
	box-shadow: none !important;
	outline-width: 2px !important;
	outline-color: var(--url-bar-outline-color) !important;
}

#urlbar *|input::placeholder {
	color: var(--url-placeholder-color) !important;
}

#urlbar:not([open]) .urlbar-background {
	background-color: var(--url-bar-background-color) !important;
}

#urlbar[open] .urlbar-background {
	border-radius: 10px !important;
	border-color: var(--hover-color-tertiary) !important;
}

/* Urlbar mode indicator look */
#urlbar-search-mode-indicator,
#identity-box.chromeUI #identity-icon-box,
#identity-box.extensionPage #identity-icon-box {
	background-color: var(--hover-color-primary) !important;
}

#tracking-protection-icon-container {
	display: none;
}

#identity-icon-box {
	margin: 2px !important;
}

#star-button-box {
	margin: 2px !important;
}

#star-button[starred="true"] {
	fill: AccentColor !important;
}

#urlbar-searchmode-switcher {
	background-color: transparent !important;
}

.identity-box-button,
.urlbar-page-action {
	border-radius: var(--border-circle) !important;
}

.urlbar-revert-button {
	margin-right: 4px;
	border-radius: var(--border-circle) !important;
}