/* Firefox macOS style */
@import "navbar.css";
@import "urlbar.css";
@import "sidebar.css";
@import "findbar.css";
@import "icons.css";
@import "tabbar.css";

/* Common colors */
/*purple #98339F*/
/*purple #f47528*/
:root {
	--tab-loading-fill: AccentColor !important;
	--hover-color-primary: rgba(0, 0, 0, 0.07);
	--hover-color-secondary: rgba(0, 0, 0, 0.05);
	--hover-color-tertiary: rgba(0, 0, 0, 0.2);
	--tint-color-primary: rgba(97, 97, 97, 1);
	--background-color-primary: rgba(252, 252, 252, 1);
	--background-color-secondary: rgba(191, 191, 191, 1);
	--background-color-tertiary: rgba(252, 252, 252, 0.6);
	--newtab-background-color: rgba(225, 225, 225, 1);
	--body-background-color: #f1f0f2;
	--body-background-color-inactive: #e5e4e5;
	--button-primary-bgcolor: AccentColor !important;
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-background-color: #2d2d2f;
		--body-background-color-inactive: #252427;
		--background-color-primary: rgba(38, 38, 38, 1);
		--background-color-secondary: rgba(191, 191, 191, 1);
		--background-color-tertiary: rgba(252, 252, 252, 0.6);
		--tint-color-primary: rgba(231, 231, 231, 1);
	}
}

:root {

	--tab-min-height: 32px !important;
	/* adjust to suit your needs */
	--tab-min-width: 66px !important;
	/* adjust to suit your needs */
	/* Popup window background color */
	--toolbar-field-focus-background-color: var(--background-color-primary) !important;
	--arrowpanel-background: var(--background-color-primary) !important;
	/* Popup window hightlighted element colors */
	--autocomplete-popup-highlight-background: var(--hover-color-tertiary) !important;
	--autocomplete-popup-hover-background: var(--hover-color-primary) !important;
	/* Empty page background color */
	--tabpanel-background-color: var(--newtab-background-color) !important;
	/* Button active color */
	--button-active-bgcolor: var(--hover-color-tertiary) !important;
}


#nav-bar,
#PersonalToolbar,
#titlebar,
#sidebar-box {
	opacity: 1 !important;
	background-color: var(--body-background-color) !important;
}

#nav-bar>*,
#PersonalToolbar>*,
#titlebar>*,
#sidebar-box>* {
	opacity: inherit !important;
}

#TabsToolbar {
	opacity: 1 !important;
	padding-bottom: 2px !important;
	padding-top: 2px !important;
	padding-left: 5px;
	padding-right: 10px;
	background-color: var(--body-background-color) !important;
}

#TabsToolbar>* {
	opacity: inherit !important;
	/* Prevent inheritance */
}

/* Change background color when window is inactive */
:root:-moz-window-inactive #TabsToolbar {
	background-color: var(--body-background-color) !important;
	/* Change this color */
}

#TabsToolbar .titlebar-buttonbox-container {
	margin-left: 6px !important;
	margin-top: 1px !important;
}

#unified-extensions-button {
	width: 0.1px;
	padding-inline: 0 !important
}

#unified-extensions-button>.toolbarbutton-icon {
	width: 0 !important;
}

#private-browsing-indicator-with-label {
	margin-right: 10px;
}

#private-browsing-indicator-with-label>label,
.titlebar-spacer[type="post-tabs"] {
	display: none !important;
}

#nav-bar {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

/* When the window is inactive */
:root:-moz-window-inactive #TabsToolbar,
:root:-moz-window-inactive #nav-bar,
:root:-moz-window-inactive #PersonalToolbar,
:root:-moz-window-inactive #titlebar,
:root:-moz-window-inactive #sidebar-box {
	background-color: var(--body-background-color-inactive) !important;
	/* Change this color */
}

/* When the window is active */
:root:not(:-moz-window-inactive) #TabsToolbar,
:root:not(:-moz-window-inactive) #nav-bar,
:root:not(:-moz-window-inactive) #PersonalToolbar,
:root:not(:-moz-window-inactive) #titlebar,
:root:not(:-moz-window-inactive) #sidebar-box {
	background-color: var(--body-background-color) !important;
	/* Change this color */
}