.customize-menu,
.personalize-button {
	display: none !important;
}

html.private {
	--in-content-page-background: #323232 !important;
}

.search-inner-wrapper {
	display: none !important;
}

body.gm-popup {
	background-color: #FEFEFE;
}

@media (prefers-color-scheme: light) {
	body.neterror {
		background-color: transparent !important;
	}
}

@media (prefers-color-scheme: dark) {
	body.neterror {
		background-color: transparent !important;
	}
}


@-moz-document url("about:home"), url("about:newtab"), url("about:blank") {
	@media (prefers-color-scheme: light) {

		html,
		body {
			background-color: transparent !important;
		}
	}

	@media (prefers-color-scheme: dark) {

		html,
		body {
			background-color: transparent !important;
		}
	}
}