host,
:root {
	--brand-color-accent: AccentColor !important;
  	--brand-color-accent-hover: AccentColor !important;
	--in-content-primary-button-background: AccentColor !important;
	--tab-loading-fill: AccentColor !important;
	--in-content-primary-button-background-hover: AccentColor !important;
  	--in-content-primary-button-background-active: AccentColor !important;
  	--in-content-focus-outline-color: AccentColor !important;
  	--focus-outline-color: AccentColor !important;
  	--in-content-link-color: AccentColor !important;
 	--in-content-link-color-hover: AccentColor !important;
	--in-content-accent-color: AccentColor !important;
	--link-color: AccentColor !important;
	--link-color-hover: AccentColor !important;
	--link-color-active: AccentColor !important;
	--link-color-visited: AccentColor !important;
}
.toggle-button {
	--toggle-background-color-pressed: AccentColor !important;
	--toggle-background-color-pressed-hover: AccentColor !important;
	--toggle-background-color-pressed-active: AccentColor !important;
}

@-moz-document url("about:newtab"),
url-prefix(about:home),
url("about:blank") {
	@media (prefers-color-scheme: dark) {
		body {
			background-color: rgba(0, 0, 0, 0.4) !important;
		}
	}
	@media (prefers-color-scheme: light) {
		body {
			background-color: rgba(225, 225, 225, 0.7)!important;
		}
	}
}

.customize-menu, .personalize-button {
	display: none!important;
}

.ds-outer-wrapper-breakpoint-override main {
	width: 65% !important;
}

.personalize-button {
	position: fixed !important;
	bottom: 16px !important;
	top: unset !important;
	background-image: url(chrome://browser/skin/permissions.svg) !important;
}

.section-top-bar,
.section-title {
	display: block !important;
	visibility: visible !important;
}

.section-title span {
	font-size: 20px !important;
	font-weight: 800 !important;
	user-select: none !important;
}

html.private {
	--in-content-page-background: rgba(34, 34, 34, 1) !important;
}

.search-inner-wrapper {
	display: none !important;
}